textarea,
input,
button
{
  text-decoration: none;
  width: 100%;
  border: 0;
  outline: 0;
}

input::placeholder {
  color: var(--input-placeholder);
  font: var(--body-sm);
}

input:focus{
  outline: 1px solid var(--brand-ligh);
}

input[type="date"]::-webkit-calendar-picker-indicator{
  opacity: 0;
}

#online:focus,#presential:focus{
  background-color: var(--shape-hover);
  width: 100%;
  height: 100%;
}

input[type="radio"]{
  all: unset;
  cursor: pointer;
}

input[name="local"]{
  width: 100%;
}

textarea {
  height: 8.5rem !important;
  resize: none;
  padding: 1rem;
}

textarea:focus {
  outline: 1px solid var(--brand-ligh);
}

input[type="color"]{
  all: unset;
  cursor: pointer; 
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.check-style{
  all: unset;
  border: var(--input-stroke) solid 1px;
  width: 4rem;
  height: 2rem;
  border-radius: 999px;
  background-color: var(--input-base);
  position: relative;
  cursor: pointer;
  transition: background-color .5s 50ms ease-in-out;

  &:not(:checked)::before{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--input-stroke);
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
  }

  &:checked{
    background-color: var(--brand-ligh);

    &::after {
      content:"";
      width: 1.5rem;
      height: 1.5rem;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
    }
  }
}

.check-terms {
  all: unset;
  border: var(--input-stroke) solid 1px;
  border-radius: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--input-base);
  position: relative;
  cursor: pointer;
  transition: background-color .5s 50ms ease-in-out;

  &:checked{
    background: url(../assets/icons/check.svg) center no-repeat;
    background-size: 1rem 1rem;
    outline: 1px solid var(--brand-ligh);
  }
}

input[type="file"]{
  display: none;
}

