body {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  background-color: var(--shape-background);
  overflow: hidden;
}

#page {
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-columns: 31.25% 68.85%;
  gap: 20px;
  overflow: hidden;
}

.container-asset {
  max-width: 25rem;
  position: relative;
  padding: 1.25rem;
  

  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  & .logo-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 48px;

    & > img {
      width: 2.8125rem;
      height: 3rem;
    }

    & h1 {
      margin-top: 1rem;
      font: var(--logo);
      color: var(--pink);
    }

    & p {
      color: var(--text-heading);
      font: var(--body-md)
    }
  }
}

.container-form {
  max-width: 51.25rem;
  overflow: auto;
  border-radius: 12px;
  background-color: var(--shape-body);
  margin: 20px;

  padding: 5rem 8.125rem;

  & h2 {
    font: var(--heading-md);
    color: var(--text-heading)
  }
}

.container-event {
  & > span {
    margin-top: 2.5rem;

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }

    & h3 {
      font: var(--heading-sm);
      color: var(--text-heading);
    }
  }
}

.form-wrapper {
  margin-top: 1.5rem;
  width: 35rem;

  .input-wrapper {
    
    .firstDate,
    .secondDate {
      width: 50%;
    }
  }
}

.input-wrapper-radio {

  .input-wrapper-content {
    width: 50%;
  }

  .typeMeeting {
    width: 100%;
    height: 3rem;
    background-color: var(--input-base);
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);

    .presential-wrapper,
    .online-wrapper {
      width: 50%;
      justify-content: center;
    }

    & img {
      width: 1rem;
      height: 1rem;
    }

    & .presential-wrapper label {
      transition: hover 300ms ease;
    }
  }

  .input-wrapper-local {
    width: 50%;
  }
}

.presential-wrapper,
.online-wrapper {
  position: relative;
  margin: 4px;

  & input[type="radio"]{
    position: absolute;
    inset: 0;
    border-radius: 5px;
    z-index: 1;
  }
}

.presential-wrapper img,
.presential-wrapper label,
.online-wrapper img,
.online-wrapper label{
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.container-personalization {

  & > span {

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .input-wrapper-color {


    & > label {
      margin-top: 1.5rem;
    }

    .colors-wrapper {
      
      & .color-container {
      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--shape-button);
      position: relative;
      border-radius: 50%;
      cursor: pointer;
      }

      & .color-container:hover{
        outline: 2px solid var(--brand-ligh);
      }
    }
  }
}

.theme-container {


 & .theme-wrapper {
  margin-top: 16px;
  grid-template-columns: repeat(4, auto);

    & .theme-card {
      width: 8.25rem;
      height: 6.4375rem;
      padding: 0.25rem;
      background-color: var(--shape-button);
      border-radius: 0.5rem;
      border: solid 2px var(--input-stroke);

      & img {
        width: 100%;
        height: 4rem;
      }

      & span {
        font: var(--body-sm);
        color: var(--text-heading)
      }

    }
  }
}

.input-wrapper-style {
  margin-top: 1.75rem;
  
  & div:nth-child(1){
    width: 30%;
  }

  & div:nth-child(2){
    span {
      font: var(--body-xs);
      color: var(text-heading);
    }
  }

  & div:nth-child(3){
    width: 100%;
  }

  & .container-label-file {
    & p {
      font: var(--body-sm);
      color: var(--input-placeholder);
    }
  }

  & .label-file{
  margin-top: 8px;
  width: 7.4375rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--shape-button); 
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--text-heading);
  cursor: pointer;
  font: var(--body-xs);

    & img {
      width: 1rem;
      height: 1rem;
    }

  }
}

